<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h5 class="title">User Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <p-table [value]="userHistory" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10]">
              <ng-template pTemplate="header">
                <tr>
                    <th> Company Name </th>
                    <th> Sector </th>
                    <th> Quantity </th>
                    <th> Current Price </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" >
                <tr *ngFor="let history of userHistory">
                  <td>{{history.stockName}}</td>
                  <td>{{history.ssector}}</td>
                  <td>{{history.quantity}}</td>
                  <td>{{history.currentPrice}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
              </ng-template>
            </p-table>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-user">
        <!-- <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div> -->
        <div class="card-body">
          <div class="author">
            <a >
              <img class="avatar border-gray" src="{{imgUrl}}" alt="...">
              <h5 class="title">{{user.firstName}} {{user.lastName}} </h5>
            </a>
            <p class="description">
              {{user.userName}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
